header{
  .navbar{
    border-radius: 0;
    background-color: #ff9765ed;
    margin-bottom: 2.5rem;
  }

  .navbar-brand{
    color: #545454;
  }

  .nav-link{
    color: #ffffff;
  }
}


footer{
  .navbar{
    border-radius: 0;
    background-color: #ff9765ed;
    line-height: 0.6;
    margin-top: 3rem;
  }

  .navbar-brand{
    color: white;
    font-size: 0.8rem;
    margin: auto;

  }
}

// root

.jumbotron{
  margin-top: 3rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  background-color: #e0e0e0;

  .letter{
    color: #504dff;
  }

  .btn{
    font-size: 20px;
  }
}

// dashboard(login)

.dash-activity{
  .btn{
    padding: 1.0rem 8.75rem;
    margin-bottom: 3rem;
  }
}

.activity{
  .text{
    border-bottom: 1px solid #e8e8e8;
  }
}

// sign up

.col-center{
  float: none;
  margin: auto;
  margin-bottom: 3rem;
}

.form-group{
  color: #635555;
}

.title{
  margin-top: 2rem;
}

// all users list

ul.users-list{
  list-style: none;

  li{
    border-top: 1px solid #e8e8e8;
    margin: 1rem;
  }
}

// profile(show)
.profile{
  border-right: 1px solid #e8e8e8;
}

//category(user)

.category{
  background-color: #fffad6;

  .btn{
    padding: 0.3rem 3.0rem;
  }
}


// Category(show)

.card{
  margin: 2rem;
}
