<%= provide(:title, "Home") %>

<div class="jumbotron center">
    <h1 class="display-4">Hello, World!</h1>

    <p class="lead">
        This is a simple <span class="letter">e-leraning system</span> impletemented by Ruby on Rails :)
    </p>

    <hr class="my-4">
    <p>
    We will provide services which you can learn new language.
    To start your lessons, please sign up first :)
    </p>

    <%= button_to "Sign Up", "#", class: "btn btn-primary btn-sm" %>
</div>