<header>
    <nav class="navbar navbar-expand-sm">
        <div class="container">
             <div class="navbar-header">
                <%= link_to "ROR-Eleaning", root_path, class: "navbar-brand" %>
             </div>

            <ul class="navbar-nav mr-right">
                <li class="nav-item"><%= link_to "Sign Up", "#", class: "nav-link"%></li>
                <li class="nav-item"><%= link_to "Login", "#", class: "nav-link" %></li>
            </ul>
        </div>
    </nav>
</header>